@charset "ISO-8859-1";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ----------- MON CSS ------------ */
body {
    display: flex;
    align-items: center;
    height: 90vh;
    background-color: #072227;
    justify-content: center;
}
header {
display: flex;
position:absolute;
margin-left: 100px;
top: 50px;
left: 0%;
font-size: x-large;
}
.bold-text {
    color: #AEFEFF;
}
.formulaire {
    display: flex;
    width: 750px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
    color: white;
    padding: 2em;
    background-color: #173d44;
}
a{
    text-decoration: none;
    color: #02fff7;
}
.heading {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.login {
    margin: 0.2em 0;
}
.formulaire .login div{
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0.5em 0;
}
.formulaire .login input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #35858B;
    border: none;
    outline: none;
    padding-left: 0.8em;
    border-radius: 10px;
    transition: all .4s;
}
.formulaire .login input:focus::placeholder {
    color: orange;
}
.formulaire .login div::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 102%;
    height: 105%;
    border-radius: 10px;
    background: linear-gradient(to right, #AEFEFF, #4FBDBA);
}
#boutton {
    width: 102%;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 0.5em 0;
    transform: translate(-1%);
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, #6ec9ca, #1e9b97);
    transition: all .4s;
}
.pseudoNom {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}
.prenomMail {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}
.telephoneRue {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}
.cdpVille {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.mdpConfirmation {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}
#boutton:hover {
    transform: translate(-1%, 5%);
    box-shadow: 0 0 10px #072227;
}
.text {
    font-size: 0.8em;
    margin-top: 0.5em;
    text-align: center;
    color: white;
}
::placeholder{
    color: white;
}